@media (min-width: 768px) {

nav {
  display: flex;
  gap: 1rem;
}

#members.grid {
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) {

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.hero {
  grid-column: span 2;
}

#spotlights {
  grid-template-columns: repeat(3, 1fr);
}

}
}