body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: none;
}

#members.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#members.list {
  display: block;
}

#members section {
  border: 1px solid black;
  padding: 10px;
}

img {
  width: 100%;
}
.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.cta {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: gold;
  padding: 10px;
  text-decoration: none;
}

#spotlights {
  display: grid;
  gap: 1rem;
}